body
  background-image: url(/photo/001.jpg)
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  background-size: cover

.full
  margin: 0
  padding: 0
  height: 100%
  width: 100%

#menu
  margin-top: 5em
  height: 13em
  background: rgba(240, 240, 240, 0.1)

#site-name
  font-size: 5em
  font-weight: bold
  color: whitesmoke

#links
  background-color: rgba(240, 240, 240, 0)
  margin-bottom: 1em

#link
  font-size: 3em
  font-weight: bold
  color: whitesmoke
  text-align: right

a.link
  color: whitesmoke

a.link:hover
  color: whitesmoke
  text-decoration: none

.cards
  margin-top: 5em
  height: 30em
  background: rgba(240, 240, 240, 0.1)

.card
  margin: 1em
  border: none
  height: 11em
  font-size: 1em
  color: whitesmoke
  background: rgba(240, 240, 240, 0)

h6.card-title a
  font-size: 1.2em
  color: whitesmoke
