body
  background-image: url(/photo/001.jpg)
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  background-size: cover

.full
  margin: 0
  padding: 0
  height: 30%
  width: 100%

.category
  font-size: 2em
  font-weight: bold
  color: whitesmoke

.links
  background-color: rgba(240, 240, 240, 0)
  margin-bottom: 1em

.link
  font-size: 1.2em
  font-weight: bold
  color: whitesmoke
  text-align: right

a.link
  color: whitesmoke

a.link:hover
  color: whitesmoke
  text-decoration: none

#blog
  margin-top: 5em
  height: 10em
  background: rgba(240, 240, 240, 0.1)

#science
  margin-top: 15.2em
  height: 10em
  background: rgba(240, 240, 240, 0.1)

#books
  margin-top: 5em
  height: 10em
  background: rgba(240, 240, 240, 0.1)

#gallery
  margin-top: 2em
  height: 10em
  background: rgba(240, 240, 240, 0.1)

