{% extends "base.html" %}

{% import "post_macros.html" as post_macros %}

{% block content %}
<div class="container">
  <div class="row full">
    <div class="col-2" id="menu">
      <div class="text-left" id="site-name">
        <a class="link" href="/">壹角</a>
      </div>
    </div>
    <div class="col-10" id="articles">
        <div class="cards">
            {% for page in paginator.pages %}
            {{ post_macros::card(page=page) }}
            {% endfor %}
        </div>
        <nav class="pagination">
            {% if paginator.previous %}
                <a class="previous" href="{{ paginator.previous }}">‹ 前</a>
            {% endif %}
            {% if paginator.next %}
                <a class="next" href="{{ paginator.next }}">后 ›</a>
            {% endif %}
        </nav>
    </div>
  </div>
</div>
{% endblock content %}
