{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row full">
    <div class="col-2" id="title">
      <div class="site-title text-center">
        <a class="link" href="/">一角</a>
      </div>
    </div>
    <div class="col-3" id="essay">
      <div class="category text-right">
        <a class="link" href="/essay">个人文字</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/essay/thinking">思考</a>
          <a class="link" href="/essay/pursuit">追寻</a>
          <a class="link" href="/essay/notes">笔记</a>
          <a class="link" href="/essay/travel">游历</a>
      </div>
    </div>
    <div class="col-3" id="curiosity">
      <div class="category text-right">
        <a class="link" href="/curiosity">探索求知</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/curiosity/computability">可计算</a><br>
          <a class="link" href="/curiosity/number">全新的数</a><br>
      </div>
    </div>
    <div class="col-3" id="theotherway">
      <div class="category text-right">
        <a class="link" href="/theotherway">另类思考</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/theotherway/different">异星杂谈</a><br>
          <a class="link" href="/theotherway/digging">凿空厚壁</a><br>
      </div>
    </div>
  </div>
  <div class="row full">
    <div class="col-9">
    </div>
    <div class="col-3" id="gallery">
      <div class="category text-right">
        <a class="link" href="/gallery">影像记</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/gallery/city">城市</a><br>
          <a class="link" href="/gallery/museum">博物馆</a><br>
          <a class="link" href="/gallery/scenery">山水风物</a><br>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
