{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row full">
    <div class="col-3">
    </div>
    <div class="col-3" id="blog">
      <div class="category text-right">
        <a class="link" href="/">个人文字</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/thinking">思考</a>
          <a class="link" href="/seeking">追寻</a>
          <a class="link" href="/notes">笔记</a>
          <a class="link" href="/travel">游历</a>
      </div>
    </div>
    <div class="col-3" id="science">
      <div class="category text-right">
        <a class="link" href="/">科学与技术</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/seeking">学Python</a><br>
          <a class="link" href="/seeking">可计算性</a><br>
      </div>
    </div>
    <div class="col-3" id="books">
      <div class="category text-right">
        <a class="link" href="/">另类思考</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/seeking">异星杂谈</a><br>
          <a class="link" href="/seeking">凿空厚壁</a><br>
      </div>
    </div>
  </div>
  <div class="row full">
    <div class="col-9">
    </div>
    <div class="col-3" id="gallery">
      <div class="category text-right">
        <a class="link" href="/">影像记</a>
      </div>
      <div class="links text-right">
          <a class="link" href="/seeking">城市</a><br>
          <a class="link" href="/seeking">博物馆</a><br>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
