<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

  <title>{% block title %}{{ page.title }}{% endblock title %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
  <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
  {% if config.generate_feed %}
  <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  {% endif %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6SGQPYJ49V"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6SGQPYJ49V');
  </script>

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
{% block sidebar %}
<div class="sidebar" id="page-sidebar">
  <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">

    <img src="/paintings/tree.jpg">

    <div class="sidebar-about">
      {% block sidebar_about %}
      <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
      {% if config.description %}
      <p class="lead">{{config.description}}</p>
      {% endif %}
      {% endblock sidebar_about %}
    </div>

    {% set section = get_section(path=page.ancestors | last) %}
    <ul class="sidebar-nav">
      {% for subsection in section.subsections | reverse %}
      {% if loop.first %} <hr> {% endif %}
      {% set child = get_section(path=subsection) %}
      <li class="sidebar-nav-item"><a href="{{child.path}}">{{child.title}}</a></li>
      {% endfor %}
      {% for ancestor in section.ancestors | reverse %}
      <hr>
      {% set parent = get_section(path=ancestor) %}
      {% for sibling in parent.subsections %}
      {% set sibling_item = get_section(path=sibling) %}
      <li class="sidebar-nav-item"><a href="{{sibling_item.path}}">{{sibling_item.title}}</a></li>
      {% endfor %}
      {% endfor %}
      <hr>
    </ul>

    <ul class="sidebar-nav">
      {% block sidebar_nav %}
      {% for link in config.extra.hyde_links %}
      <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
      {% endfor %}
      {% endblock sidebar_nav %}
    </ul>
  </div>
</div>
{% endblock sidebar %}

<div class="content container" id="page-content">

  <div class="breadcrumb">
    <span><a href="/">首页</a></span>
    {% for ancestor in page.ancestors %}
    {% set parent = get_section(path=ancestor) %}
    {% if parent.title %}-{% endif %}
    <span><a href="{{parent.path}}">{{parent.title}}</a></span>
    {% endfor %}
  </div>

  {% block content %}
  <div class="posts">
    <div class="post">
    <h2 class="post-title">{{ page.title }}</h2>
    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
    {{ page.content | safe }}
     </div>
  </div>
  {% endblock content %}

</div>

</body>

</html>
