<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ section.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0167993545292434" crossorigin="anonymous"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
      <script>
            document.addEventListener("DOMContentLoaded", function() {
                renderMathInElement(document.body, {
                  // customised options
                  // • auto-render specific keys, e.g.:
                  delimiters: [
                      {left: '$$', right: '$$', display: true},
                      {left: '$', right: '$', display: false},
                      {left: '\\(', right: '\\)', display: false},
                      {left: '\\[', right: '\\]', display: true}
                  ],
                  // • rendering keys, e.g.:
                  throwOnError : false
                });
            });
      </script>

      {% if config.generate_feed %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-6SGQPYJ49V"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6SGQPYJ49V');
      </script>

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">

        <div class="sidebar">
            <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
                <img src="/paintings/tree.jpg">

                <div class="sidebar-about">
                    {% block sidebar_about %}
                    <a href="{{ config.base_url }}"><h1>OC Blog</h1></a>
                    {% if config.description %}
                    <p class="lead">Whispers in the corner</p>
                    {% endif %}
                    {% endblock sidebar_about %}
                </div>

                <ul class="sidebar-nav">
                    {% for subsection in section.subsections | reverse %}
                    {% if loop.first %} <hr> {% endif %}
                    {% set child = get_section(path=subsection) %}
                    {% if child.path == '/en/'%}
                    <li class="sidebar-nav-item"><a href="{{child.path}}">{{child.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% for ancestor in section.ancestors | reverse %}
                    <hr>
                    {% set parent = get_section(path=ancestor) %}
                    {% for sibling in parent.subsections %}
                    {% set sibling_item = get_section(path=sibling) %}
                    {% if sibling_item.path == '/en/'%}
                    <li class="sidebar-nav-item"><a href="{{sibling_item.path}}">{{sibling_item.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <hr>
                </ul>

                <ul class="sidebar-nav">
                    {% block sidebar_nav %}
                    {% for link in config.extra.hyde_links %}
                    <li class="sidebar-nav-item"><a href="/en/about/">About</a></li>
                    {% endfor %}
                    {% endblock sidebar_nav %}
                </ul>
            </div>
            <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-0167993545292434" data-ad-slot="2536171643"
                 data-matched-content-ui-type="image_card_stacked" data-matched-content-rows-num="1" data-matched-content-columns-num="1"></ins>
        </div>

        <div class="content container">
            <div class="breadcrumb">
            {% for ancestor in section.ancestors | reverse %}
            {% set parent = get_section(path=ancestor) %}
            {% if parent.path is starting_with("/en/") %}
            <span><a href="{{parent.path}}">{{parent.title}}</a></span>
            {% if not loop.last %}-{% endif %}
            {% endif %}
            {% endfor %}
            </div>

            <div class="section">
                <h2 class="section-title">
                    {{ section.title }}
                </h2>
                {% if section.content %}
                <p>
                    {{ section.content | safe }}
                </p>
                {% endif %}
                <hr>
                {% if section.subsections %}
                <ul>
                    {% for subsection in section.subsections | reverse %}
                    {% set child = get_section(path=subsection) %}
                    <li><a href="{{child.path}}">{{child.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="posts">
                {% for page in paginator.pages %}
                <div class="post">
                    <h3 class="post-title">
                        <a href="{{ page.permalink }}">
                            {{ page.title }}
                        </a>
                    </h3>
                    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                    {{ page.description | safe }}
                </div>
                {% endfor %}
            </div>

            <div class="pagination">
                <div class="pagination-item"><a href="{{paginator.previous}}"><</a></div>
                <div class="pagination-item"><a href="{{paginator.next}}">></a></div>
            </div>

            <div id="disqus_thread"></div>
        </div>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <script>
            var disqus_config = function () {
              this.page.url = "{{ section.permalink | safe }}";
              this.page.identifier = "{{ section.path | safe }}";
            };
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://onecorner.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>请把 JavaScript 激活以便浏览 <a href="https://disqus.com/?ref_noscript">由 Disqus 提供的评论.</a></noscript>

    </body>
</html>
